<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <nav>
      <h1>My Weather App</h1>
      <ul>
        <li><a href="/">Home</a></li>
        <li class="hover-link">
          <a href="#">About</a>
          <div class="pop-up">
            Hello, I'm Radha Kishan Sharma, currently pursuing my Bachelor of
            Engineering at UIET Chandigarh
          </div>
        </li>
        <li class="hover-link">
          <a href="#">Contact</a>
          <div class="pop-up">
            Feel free to reach out to me via Email - Erenjeager1b@gmail.com or
            Phone No. - 8005722342
          </div>
        </li>
      </ul>
    </nav>

